<%- include('./partials/header'); %>
<div class="container">
    <div class="row">
        <p class="h1">Hola <%= username %> estas en la ruta protegida</p>
    </div>
</div>
<%- include('./partials/footer'); %>
