body {
    font-family: 'Anonymous Pro', monospace;
}

.navbar {
    background-color: #121212;
    border-bottom: 2px solid #333;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.4rem;
    color: #C7253E;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #C7253E;
}
 
.btn-secondary {
    background-color: #444;
    border: none;
}

.btn-secondary:hover {
    background-color: #333;
}

.btn-custom {
    background-color: #C7253E;
}

.btn-custom:hover {
    background-color: #e0a800;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-item {
    margin-left: 15px;
}

.modal-content {
    border-radius: 0.5rem;
}

.btn-sm {
      font-size: 0.75rem;
      padding: 0.25rem 0.5rem;
}

.card-img-top {
    object-fit: cover;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.btn-danger {
    font-size: 0.75rem;
}

.alert-success {
    font-size: 0.875rem;
}

.btn-primary {
    background: linear-gradient(to right, #A04747, #821131);
    border: none;
    border-radius: 5px;
    height: 35px;
    color: white;
    font-weight: bold;
    transition: ease-in-out .2s;
}

.btn-primary:hover {
    transform: scale(1.05);
}

.accordion-button {
    background-color: #343a40;
    color: #fff;
}
.accordion-button:not(.collapsed) {
    background-color: #495057;
}
.btn-primary {
    background-color: #6c757d;
    border: none;
}
  .btn-primary:hover {
    background-color: #5a6268;
}
